{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Curriculum Vitae | CV</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Curriculum Vitae, CV, Jobs">
		<meta name="author" content="Kastoss">
	
		<!-- Le styles -->
		
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link class="css" href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' />
		<!--
		<link rel="stylesheet" type="text/css" href="{% static "css/zocial.css" %}" />
		-->
		
		<link rel="stylesheet" type="text/css" href="{% static "css/orange.css" %}" />
	
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		
		<!--
		<script src="{% static "js/jquery.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		-->
		
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!-- Le fav and touch icons -->
	</head>

	<body>
		<div class="container">
			<div class="row-fluid">
				<header>
					<div class="span6">
						<h1>Alan Illing</h1>
					</div>
					<div class="span6">
						<a href="javascript:" class="pull-right btn"> <i class="icon-download"></i> PDF</a>
					</div>
				</header>
			</div>
			<hr class="soften"/>
			
			<div class="row-fluid blok-2">
				<div class="span2">
					<img src="{% static "img/photo.jpg" %}" alt="" class="thumbnail pull-left"/>
				</div>
				<div class="span5">
					<h2>Softwaree Engineer, Entrepreneur, math nerd</h2>
					<p>Pellentesque sollicitudin congue diam, et gravida leo posuere at. Nunc <strong>fermentum erat</strong> at diam convallis vel porttitor purus congue. Proin blandit, odio ac aliquet fermentum, lectus est dictum nisl, ac elementum dui ante et ipsum. </p>  
				</div>
				
				<div class="span5 information">
					<div><img src="{% static "img/icon/smart_phone.png" %}" /> 773 888 2179</div>
					<div><img src="{% static "img/icon/monitor.png" %}" /> <a href="#">alanilling.com</a></div>
					<div><img src="{% static "img/icon/address-book.png" %}" /> Chicago, IL</div>
				</div>
			</div>
			<hr class="soften"/>
			
			<div class="row-fluid">
				<div class="span6 skills">
					<div class="span12">
						<ul class="nav nav-list">
							<li class="active">
								<a href="#"><i class="icon-white icon-home"></i> Work Experience</a>
							</li>
						</ul>
						
						<h2>Cosy Interfaces, Full-time </h2>
						<span class="label">Dual Major, Web Design and English - 3.9 GPA</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip. </p>
						
						<hr class="soften"/>
						
						<h2>SENIOR WEB DEVELOPER </h2>
						<span class="label">Dual Major, Web Design and English - 3.9 GPA</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip. </p>
						
						<hr class="soften"/>
						
						<h2>JUNIOR WEB DEVELOPER  </h2>
						<span class="label">Dual Major, Web Design and English - 3.9 GPA</span>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip. </p>
						
					</div>
				</div>
			
				<div class="span6 education">
					<ul class="nav nav-list">
						<li class="active"><a href="javascript:"><i class="icon-white icon-folder-open"></i> Education</a></li>
					</ul>
					
					
					<h2>Boston State University</h2>
					<span class="label">Dual Major, Web Design and English - 3.9 GPA</span>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip. </p>
					
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetuer adipiscing elit</li>
						<li>Sed diam nonummy nibh</li>
					</ul>
					
					<hr class="soften"/>
					<h2>Vegas State University</h2>
					<span class="label">Dual Major, Web Design and English - 3.9 GPA</span>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip. </p>
				</div>
			</div>
			
			
			<hr class="soften"/>
			
			<div class="row-fluid skills">
				<div class="span8">
					<h2>Portfolios</h2>
					<ul class="thumbnails">
						<li class="span5">
							<a class="thumbnail" href="#">
								<img alt="" src="img/andruid.jpg">
							</a>
						</li>
						
						<li class="span3">
							<a class="thumbnail" href="#">
								<img alt="" src="img/css.jpg">
							</a>
						</li>
						
						<li class="span3">
							<a class="thumbnail" href="#">
								<img alt="" src="img/css3.jpg">
							</a>
						</li>
						
						<li class="span3">
							<script src="{% static "js/jquery.js" %}"></script>
							<script src="{% static "js/bootstrap.min.js" %}"></script>
							<a class="thumbnail" href="#">
								<img alt="" src="img/html5.jpg">
							</a>
						</li>
						
						<li class="span3">
							<a class="thumbnail" href="#">
								<img alt="" src="img/html5.jpg">
							</a>
						</li>
					</ul>
				</div>
				
				<div class="span4">
					<h2>Quick Contact Form</h2>
					<form class="contact">
						<label><strong>Name :</strong></label>
						<input type="text" placeholder="Name ..." class="">
						
						<label><strong>E-Mail :</strong></label>
						<input type="text" placeholder="E-Mail ..." class="">
						
						<label><strong>Message :</strong></label>
						<textarea class="" id="textarea" rows="3"></textarea>
						
						<br>
						<button class="btn" type="submit"><i class="icon-envelope"></i> Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
