{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Alan Illing's Resume</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Curriculum Vitae, CV, Jobs">
		<meta name="author" content="Alan Illing">
		
		<!-- Le styles -->
		
		<link href="{% static "/static/css/bootstrap.min.css" %}" rel="stylesheet">
		<link class="css" href="{% static "/static/css/style.css" %}" rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="{% static "/static/css/zocial.css" %}" />
		
		<link rel="stylesheet" type="text/css" href="{% static "/static/css/orange.css" %}" />
		
		<script src="{% static "/static/js/jquery.js" %}"></script>
		<script src="{% static "/static/js/bootstrap.min.js" %}"></script>
		
		
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!-- Le fav and touch icons -->
		
		<link rel="stylesheet" href="{% static "/static/css/font/font-awesome.css" %}">
		
	</head>
	
	<body>
		<div class="container">
			<div class="row-fluid">
				<header>
					<div class="span6">
						<h1>Alan Illing</h1>
					</div>
					<div class="span6">
						<div>
							
				             <a href="javascript:void(location.href='http://www.pdfspot.com/html-to-pdf-converter.aspx?url=' + escape(location.href)+'&pdf_name=' + escape('') + '&pdf_orientation=portrait&pdf_page_size=A4&scripts_enabled=true' )" 
				                              title="PDF" class="pull-right btn">
				                              <i class="icon-download"></i> PDF</a>
				             <noscript>
				                    <a href="http://www.pdfspot.com" title="PDF" class="pull-right btn"><i class="icon-download"></i> PDF</a>
				             </noscript>
						</div>
					</div>
				</header>
			</div>
			<hr class="soften"/>
			
			<div class="row-fluid blok-2">
				<div class="span2">
					<img src="{% static "/static/img/me.png" %}" alt="" class="thumbnail pull-left"/>
				</div>
				<div class="span5">
					<h2>Software engineer, entrepreneur, geek</h2>
					<p>
						I'm a <strong>passionate</strong> engineer who <strong>loves</strong> technology.
						I focus on web, mobile and back-end cloud computing technologies.
						My approach to software development is to identify and solve problems by asking the <strong>right</strong> questions
						and thinking abstractly. I particularly enjoy problems of a quantitative or algorithmic nature. 
					</p>
				</div>
				
				<div class="span5 information">
					<div>
						<i class="icon-map-marker"></i> &nbsp; <a href="https://maps.google.com/maps?q=belmont+and+ashland,+chicago+il&hl=en&ll=41.939829,-87.666328&spn=0.009289,0.020084&sll=41.833733,-87.731964&sspn=0.595511,1.2854&hnear=N+Ashland+Ave+%26+W+Belmont+Ave,+Chicago,+Cook,+Illinois+60657&t=m&z=16" target="_blank">I'm in Chicago</a>
					</div>
					
					<div>
						<i class="icon-github"></i> &nbsp; <a href="https://github.com/ailling" target="_blank">Public projects</a>
					</div>
					
					<div>
						<i class="icon-linkedin-sign"></i> &nbsp; <a href="http://www.linkedin.com/pub/alan-illing/33/84a/2b9" target="_blank">Network with me</a>
					</div>
					
					<div>
						<i class="icon-twitter-sign"></i> &nbsp; <a href="http://it.twitter.com/alanilling" target="_blank">Follow me</a>
					</div>
					
					<div>
						<iframe src="http://ghbtns.com/github-btn.html?user=ailling&type=follow&count=true"
  							allowtransparency="true" frameborder="0" scrolling="0" width="165px" height="20px"></iframe>
					</div>
					
				</div>
			</div>
			<hr class="soften"/>
			
			<div class="row-fluid">
				<div class="span6 skills">
					<div class="span12">
						<ul class="nav nav-list">
							<li class="active">
								<a href="#"><i class="icon-white icon-home"></i> Work Experience</a>
							</li>
						</ul>
						
						<h2>Project Fixup </h2>
						<span class="label">Co-founder and Chief Technology Officer</span>
						<p>
							<a href="https://www.projectfixup.com" target="_blank">Project Fixup</a> is a match-making service
							that arranges fixups (one-on-one themed dates) for its members.
						</p>
						<p>
							We use smart people and smart algorithms to productively find compatibility among our members and logistically arrange dates.
						</p>
						
						
						<hr class="soften"/>
						
						<h2>Software Engineer II </h2>
						<span class="label">Twitch, LLC. 2011 - 2012</span>
						<p>
							Twitch is a trading firm located at the Chicago Board of Trade (CBOT).
							They are market makers that use trading algorithms to compete against others
							for order flow and manage risk. The primary focus of the business is on
							trade execution time and speed of the trading strategy.
						</p>
						
						<p>
							Responsibilities:
						</p>
						<ul>
							<li>Trading strategy development on new products</li>
							<li>Back-end P&amp;L tracking and reporting</li>
							<li>Quantitative analysis of market data, strategy performance and parameter optimization</li>
						</ul>
						
						<hr class="soften"/>
						
						<h2>Quantitative Analyst / Software Developer </h2>
						<span class="label">Cornerstone Trading, LLC. 2009 - 2011.</span>
						
						<p>
							Cornerstone was a proprietary trading group located at the Chicago Board Options Excahnge (CBOE).
							Trading methodologies were similar to hedge funds; they underwent massive restructing in 2009
							in the face of financial difficulties.
						</p>
						
						<p>Responsibilities:</p>
						<ul>
							<li>Developed mathematical models for trading options</li>
							<li>Software development for algorithmic trade execution</li>
							<li>Analyzed mathematical models for trading and historical strategy performance</li>
							<li>Research on GPU parallel programming, specifically nVidia CUDA</li>
						</ul>
						
						<hr class="soften"/>
						
						<h2>Assistant Trader </h2>
						<span class="label">Cornerstone Trading, LLC. 2006</span>
						
						<p>
							Initially employed by Cornerstone after earning a Bachelor of Science, I decided
							to seek more challenging work in graduate school.
							
							I left the firm on good terms and was re-employed after completing a Master of Science.
						</p>
						
						<p>Responsibilities:</p>
						<ul>
							<li>Built tools for automating P&amp;L reporting and analyzing strategy performance</li>
							<li>Built back-end systems for automating trade execution</li>
						</ul>
						
					</div>
				</div>
			
				<div class="span6 education">
					<ul class="nav nav-list">
						<li class="active"><a href="javascript:"><i class="icon-white icon-folder-open"></i> Education</a></li>
					</ul>
					
					
					<h2>University of Chicago</h2>
					<span class="label">M.S. Computer Science, expected June 2013. GPA: 4.0</span>
					<p>
						Coursework focus on numerical methods, distributed and parallel computing, algorithms, unix programming, networks and security.
					</p>
					
					<p>My primary interests in computer science are:</p>
					<ul>
						<li>Social apps to better connect people</li>
						<li>Cloud and distributed computing; scaling problems</li>
						<li>Quantitative and statistical problems</li>
						<li>Security</li>
					</ul>
					
					<hr class="soften"/>
					<h2>Univeristy of Illinois, Champaign-Urbana</h2>
					<span class="label">M.S. Finance, May 2008</span>
					<p>
						Awarded as a Ph.D. candidate for partial completion of the docorate program.
						All courses were taken at the Ph.D. level and emphasized mathematics, especially stochastic calculus, advanced probability and statistics, and econometrics.
						I left the docorate program after 2 years.
					</p>
					
					<hr class="soften"/>
					<h2>Univeristy of Illinois, Champaign-Urbana</h2>
					<span class="label">B.S. Mathematics &amp; Actuarial Science, May 2006</span>
					<p>
						Coursework emphasized engineering and actuarial-related mathematics, including
						ordinary and partial differential equations, probability &amp; statistics, analysis of loss distributions and finance.
						I additionally took several computer science courses including theory, data structures, databases, parallel programming and several courses on various programming languages including C, C++ and Java.
					</p>
					
					<p>Awards</p>
					<ul>
						<li>Magna Cum Laude</li>
						<li>Actuarial Science Department High Distinction</li>
						<li>Phi Scholars Member</li>
					</ul>
				</div>
			</div>
			
			
			<hr class="soften"/>
			
			<div class="row-fluid skills">
				<div class="span8">
					<h2>Recent work</h2>
					<ul>
						<li>
							<a href="https://www.projectfixup.com/">Project Fixup</a>
						</li>
						<li>
							<a href="http://www.botrocket.com/">Bot Rocket</a>
						</li>
						<li>
							<a href="http://www.djangoperformance.com/">Django Performance</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
