{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Alan Illing - Curriculum Vitae</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{%  static "css/style.css" %}" rel="stylesheet">

    <!-- Fallback for NoScript -->
    <noscript>
        &lt;style type="text/css"&gt;
        body {
        display: block;
        }
        &lt;/style&gt;
    </noscript>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
</head>

<body style="display: block;">
<section class="container">

<!-- Header -->
<header class="row-fluid">
    <div class="title span8">
        <img src="{% static "img/me.png" %}" title="Picture of Alan Illing" alt="Picture of Alan Illing"
             class="img-rounded img-polaroid"/>
        <h1>Alan Illing</h1>
        <h2>software engineer</h2>
        <h2>entrepreneur</h2>
    </div>
    <div class="offset1 span3 pull-right">
        <ul>
            <li>
                <div class="btn-group">
                    <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=744+N+wells,+chicago+il&aq=&sll=41.833733,-87.731964&sspn=0.595511,1.2854&vpsrc=0&ie=UTF8&hq=&hnear=744+N+Wells+St,+Chicago,+Cook,+Illinois+60654&ll=41.896463,-87.634571&spn=0.009296,0.020084&t=m&z=16&iwloc=A" class="btn">
                        <i class="icon icon-home"></i>
                    </a>
                    <a href="http://www.linkedin.com/pub/alan-illing/33/84a/2b9" class="btn">
                        <i class="icon icon-linkedin-sign"></i>
                    </a>
                    <a href="http://it.twitter.com/alanilling" class="btn">
                        <i class="icon icon-twitter-sign"></i>
                    </a>
                    <a href="mailto:alan.illing@gmail.com" class="btn">
                        <i class="icon icon-envelope-alt"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>

<!-- Welcome Text -->
<article class="row-fluid">
    <header class="span3">
        <h3>Recent work</h3>
    </header>
    <div class="span9">
        <table class="table">
            <tbody>
            <tr>
                <td class="span3">
                    <p>
                        <strong>
                            <a href="https://www.projectfixup.com">Project Fixup</a>
                        </strong>
                    </p>
                </td>
                <td>
                    <strong>
                        Dating: simplified and fun.
                    </strong>
                </td>
            </tr>
            <tr>
                <td class="span3">
                    <p>
                        <strong>
                            <a href="http://www.joinmixup.com">Mixup</a>
                        </strong>
                    </p>
                </td>
                <td>
                    <strong>
                        Better way to meet people at events.
                    </strong>
                </td>
            </tr>
            <tr>
                <td class="span3">
                    <p>
                        <strong>
                            <a href="http://www.singleproxy.com">Single Proxy</a>
                        </strong>
                    </p>
                </td>
                <td>
                    <strong>
                        Scalable, reliable and distributed forwarding proxy service.
                    </strong>
                </td>
            </tr>
            <tr>
                <td class="span3">
                    <p>
                        <strong>
                            <a href="http://www.djangoperformance.com">Django Performance</a>
                        </strong>
                    </p>
                </td>
                <td class="">
                    <strong>
                        Performance monitoring for Django apps.
                    </strong>
                </td>
            </tr>
            <tr>
                <td class="span3">
                    <p>
                        <strong>
                            <a href="http://www.botrocket.com">Bot Rocket</a>
                        </strong>
                    </p>
                </td>
                <td class="">
                    <strong>
                        Run automated tasks in the cloud.
                    </strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</article>

<!-- Skills -->
<article class="row-fluid">
    <header class="span3">
        <h3>Skills</h3>
    </header>
    <div class="span9">
        <div class="row-fluid skills">
            <ul class="span6">
                <li><h4>Programming</h4></li>
                <li><strong>Python</strong></li>
                <li><strong>C / C++</strong></li>
                <li><strong>C#</strong></li>
                <li><strong>JavaScript</strong></li>
            </ul>
            <ul class="span6">
                <li><h4>Frameworks and libraries</h4></li>
                <li><strong>Django</strong></li>
                <li><strong>.NET</strong></li>
                <li><strong>Celery, RabbitMQ</strong></li>
                <li><strong>Backbone, Underscore</strong></li>
                <li><strong>Angular</strong></li>
            </ul>
        </div>
        <div class="row-fluid skills">
            <ul class="span6">
                <li><h4>Databases</h4></li>
                <li><strong>MySQL</strong></li>
                <li><strong>PostgreSQL</strong></li>
                <li><strong>MongoDB</strong></li>
                <li><strong>Neo4j</strong></li>
            </ul>
            <ul class="span6">
                <li><h4>Misc. (systems, protocols, etc.)</h4></li>
                <li><strong>Linux - Ubuntu</strong></li>
                <li><strong>Windows</strong></li>
                <li><strong>WebSocket protocol</strong></li>
                <li><strong>AMPQ</strong></li>
            </ul>
        </div>
    </div>
</article>

<!-- Work -->
<article class="row-fluid">
    <header class="span3">
        <h3>Experience</h3>
    </header>
    <div class="span9">
        <h4>Software Engineer II</h4>
        <h5>Twitch, LLC. 2011 - 2012.</h5>
        <p>
            Twitch is a trading firm located at the Chicago Board of Trade (CBOT). They are market makers that use trading algorithms to compete against others for order flow and manage risk. The primary focus of the business is on trade execution time and speed of the trading strategy.
        </p>

        <br/>

        <p>
            Responsibilities:
        </p>
        <ul>
            <li>
                Trading strategy development on new products.
            </li>
            <li>
                Back-end P&L tracking and reporting.
            </li>
            <li>
                Quantitative analysis of market data, strategy performance and parameter optimization.
            </li>
        </ul>

        <h4>Quantitative Analyst / Software Developer</h4>
        <h5>Cornerstone Trading, LLC. 2009 - 2011.</h5>
        <p>
            Cornerstone was a proprietary trading group located at the Chicago Board Options Excahnge (CBOE). Trading methodologies were similar to hedge funds; they underwent massive restructing in 2009 in the face of financial difficulties.
        </p>
        <br/>
        <p>
            Responsibilities:
        </p>
        <ul>
            <li>
                Developed mathematical models for trading options.
            </li>
            <li>
                Software development for algorithmic trade execution.
            </li>
            <li>
                Analyzed mathematical models for trading and historical strategy performance.
            </li>
            <li>
                Research on GPU parallel programming, specifically nVidia CUDA.
            </li>
        </ul>

        <h4>Assistant Trader</h4>
        <h5>Cornerstone Trading, LLC. 2006.</h5>
        <p>
            Responsibilities:
        </p>
        <ul>
            <li>
                Built tools for automating P&L reporting and analyzing strategy performance.
            </li>
            <li>
                Built back-end systems for automating trade execution.
            </li>
        </ul>
    </div>
</article>

<!-- Education -->
<article class="row-fluid">
    <header class="span3">
        <h3>Education</h3>
    </header>
    <div class="span9">
        <h4>University of Chicago</h4>
        <h5>M.S. Computer Science, expected June 2013.</h5>
        <p>
        Coursework focus on numerical methods, distributed and parallel computing, algorithms, unix programming, networks and security. GPA: 4.0
        </p>

        <h4>Univeristy of Illinois, Champaign-Urbana</h4>
        <h5>M.S. Finance, May 2008</h5>
        <p>
            Awarded as a Ph.D. candidate for partial completion of the docorate program. All courses were taken at the Ph.D. level and emphasized mathematics, especially stochastic calculus, advanced probability and statistics, and econometrics. I left the docorate program after 2 years.
        </p>

        <h4>Univeristy of Illinois, Champaign-Urbana</h4>
        <h5>B.S. Mathematics & Actuarial Science, Magna Cum Laude, May 2006</h5>
        <p>
            Coursework emphasized engineering and actuarial-related mathematics, including ordinary and partial differential equations, probability & statistics, analysis of loss distributions and finance. I additionally took several computer science courses including theory, data structures, databases, parallel programming and several courses on various programming languages including C, C++ and Java.
        </p>
        <br/>
        <p>Awards:</p>
        <ul>
            <li>Magna Cum Laude</li>
            <li>Actuarial Science Department High Distinction</li>
            <li>Phi Scholars Member</li>
        </ul>
    </div>
</article>


<!-- Footer -->
<footer>
    <a href="http://www.web2pdfconvert.com/convert">Download as PDF</a> | <a href="#" onclick="javascript:window.print();">Print</a> | <a href="#top">To top <i class="icon-arrow-up"></i></a>
</footer>
</section>

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>



</body>
</html>
